.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.netflix {
  background-image:
  url(
  "https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/919bfe65-1ecc-43dd-8e5e-4fc6f0f91322/IE-en-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: "cover";
  height: 100vh;
  /* margin-top: -70px; */
  font-size:50px;
  background-repeat:no-repeat;
  }
  .netflixLogo{
    height: 20vh;
    margin-left:  10px;
  }